.loading-page {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .iconBicycle_svg__bike {
        display: block;
        margin: auto;
        width: 8em;
        height: auto;
    }

    .iconBicycle_svg__bike__body,
    .iconBicycle_svg__bike__front,
    .iconBicycle_svg__bike__handlebars,
    .iconBicycle_svg__bike__pedals,
    .iconBicycle_svg__bike__pedals-spin,
    .iconBicycle_svg__bike__seat,
    .iconBicycle_svg__bike__spokes,
    .iconBicycle_svg__bike__spokes-spin,
    .iconBicycle_svg__bike__tire {
        animation: bikeBody 3s ease-in-out infinite;
        stroke: hsl(223,90%,50%);
        transition: stroke 0.3s;
    }

    .iconBicycle_svg__bike__front {
        animation-name: bikeFront;
    }

    .iconBicycle_svg__bike__handlebars {
        animation-name: bikeHandlebars;
    }
    .iconBicycle_svg__bike__pedals {
        animation-name: bikePedals;
    }
    .iconBicycle_svg__bike__pedals-spin {
        animation-name: bikePedalsSpin;
    }
    .iconBicycle_svg__bike__seat {
        animation-name: bikeSeat;
    }
    .iconBicycle_svg__bike__spokes,
    .iconBicycle_svg__bike__tire {
        stroke: currentColor;
    }
    .iconBicycle_svg__bike__spokes {
        animation-name: bikeSpokes;
    }
    .iconBicycle_svg__bike__spokes-spin {
        animation-name: bikeSpokesSpin;
    }
    .iconBicycle_svg__bike__tire {
        animation-name: bikeTire;
    }
}

/* Animations */
@keyframes bikeBody {
	from { stroke-dashoffset: 79; }
	33%,
	67% { stroke-dashoffset: 0; }
	to { stroke-dashoffset: -79; }
}
@keyframes bikeFront {
	from { stroke-dashoffset: 19; }
	33%,
	67% { stroke-dashoffset: 0; }
	to { stroke-dashoffset: -19; }
}
@keyframes bikeHandlebars {
	from { stroke-dashoffset: 10; }
	33%,
	67% { stroke-dashoffset: 0; }
	to { stroke-dashoffset: -10; }
}
@keyframes bikePedals {
	from {
		animation-timing-function: ease-in;
		stroke-dashoffset: -25.133;
	}
	33%,
	67% {
		animation-timing-function: ease-out;
		stroke-dashoffset: -21.991;
	}
	to {
		stroke-dashoffset: -25.133;
	}
}
@keyframes bikePedalsSpin {
	from { transform: rotate(0.1875turn); }
	to { transform: rotate(3.1875turn); }
}
@keyframes bikeSeat {
	from { stroke-dashoffset: 5; }
	33%,
	67% { stroke-dashoffset: 0; }
	to { stroke-dashoffset: -5; }
}
@keyframes bikeSpokes {
	from {
		animation-timing-function: ease-in;
		stroke-dashoffset: -31.416;
	}
	33%,
	67% {
		animation-timing-function: ease-out;
		stroke-dashoffset: -23.562;
	}
	to {
		stroke-dashoffset: -31.416;
	}
}
@keyframes bikeSpokesSpin {
	from { transform: rotate(0); }
	to { transform: rotate(3turn); }
}
@keyframes bikeTire {
	from {
		animation-timing-function: ease-in;
		stroke-dashoffset: 56.549;
		transform: rotate(0);
	}
	33% {
		stroke-dashoffset: 0;
		transform: rotate(0.33turn);
	}
	67% {
		animation-timing-function: ease-out;
		stroke-dashoffset: 0;
		transform: rotate(0.67turn);
	}
	to {
		stroke-dashoffset: -56.549;
		transform: rotate(1turn);
	}
}