.mermaid-sidebar {

}

.mermaid-sidebar-themes {
    .ant-popover-inner {
        padding: 8px !important;
    }
}

.mermaid-sidebar-export {
    .ant-popover-inner {
        padding: 8px !important;
    }
}

.mermaid-sidebar-settings {
    .ant-popover-inner {
        padding: 8px !important;
    }
}

.mermaid-sidebar {
    transition: width 300ms ease-in-out;
    width: 200px;
}

// Add any additional styles you need for the collapsed state
.mermaid-sidebar.collapsed {
    width: 53px;
}