.mermaid-sidebar {

}

.mermaid-sidebar-themes {
    .ant-popover-inner {
        padding: 8px !important;
    }
}

.mermaid-sidebar-export {
    .ant-popover-inner {
        padding: 8px !important;
    }
}

.mermaid-sidebar-settings {
    .ant-popover-inner {
        padding: 8px !important;
    }
}